/* Start coding here */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
body {
  background-color: #f6f6fb;
}

.container-box {
  background-color: #d6d6f7;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.nav {
  margin-top: 20px;
  display: flex;
  background-color: rgb(252, 251, 251);
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  width: 95%;
  height: 7vh;
}

.menu {
  display: flex;
}

.content-1 {
  display: flex;
  background-color: mediumpurple;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 5vh;
  border-radius: 30px;
  color: rgb(68, 80, 248);
}

h3 {
  text-align: center;
}

h1 {
  font-size: 60px;
}
span {
  color: blueviolet;
}

.container-box2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: black;
  color: aliceblue;
  border-radius: 10px;
  width: 15vh;
  height: 4vh;
}

ul:hover {
  color: blueviolet;
  text-decoration: underline;
  font-weight: 700;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  width: 99vw;
  margin: 5x;
  margin-top: 150px;
}

.container1,
.container2,
.container3 {
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  border-radius: 30px;
}



.container1 {
  background-color: aliceblue;
 
}

.container2 {
  background-color: lightblue;
}

.container3 {
  background-color: plum;
}

.contact-form {
  display: flex;
  justify-content: center;
  width: 1600px;
  height: 600px;
  background-color: #fcfcfe;
  margin: 50px auto;
  border-radius: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.contact-form form h1 {
  font-size: 4rem;
}

.input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input label {
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #333;
}

.input input,
.input textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.2rem;
  background-color: #f9f9fc;
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: blue;
}

.btn-form {
  background-color: #1A1A2B;
  width: 100%;
  color: white;
  padding: 15px 30px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-nav{
    display: flex;
    gap: 30px;
}

.footer-nav a {
    font-weight: bold;
}
